.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 25px;
}
.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;

  color: #ffffff;
}
