.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.lead__title {
  max-width: 720px;
  /*height: 200px;*/
  /*padding-left: 280px; tentando resolver alinhamento com align items */
  padding-top: 194px;
  padding-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  align-items: center;

  color: #ffffff;
}
.lead__subtitle {
  max-width: 720px;
  /*height: 72px;*/
  padding-bottom: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.lead__image {
  max-width: 984px;
  padding-bottom: 92px;
}
.lead__image-element {
  width: 100%;
}

@media screen and(max-width: 1024px) {
  .lead__title {
    width: 75px;
  }
}
@media screen and(max-width: 544px) {
  .lead__title {
    width: 40px;
  }
  .lead__subtitle {
    width: 16px;
  }
}
